#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export DH_OPTIONS
export install_dir="debian/kde-style-bespin"

UNCLEANED_FILES=\
  ksplash/aperture/1024x768/ \
  ksplash/aperture/1280x1024/ \
  ksplash/aperture/1366x768/ \
  ksplash/aperture/1440x900/ \
  ksplash/aperture/1600x1200/ \
  ksplash/aperture/1920x1080/ \
  ksplash/bespin/1024x768/ \
  ksplash/bespin/1280x1024/ \
  ksplash/bespin/1366x768/ \
  ksplash/bespin/1440x900/ \
  ksplash/bespin/1600x1200/ \
  ksplash/bespin/1920x1080/ \
  ksplash/bespin/Preview.png \
  ksplash/tibanna/1024x768/ \
  ksplash/tibanna/1280x1024/ \
  ksplash/tibanna/1366x768/ \
  ksplash/tibanna/1440x900/ \
  ksplash/tibanna/1600x1200/ \
  ksplash/tibanna/1920x1080/ \
  ksplash/tibanna/Preview.png

%:
	dh $@ --parallel

override_dh_auto_clean: override_dh_auto_configure
	cd build && make clean
	$(RM) -R build $(UNCLEANED_FILES)

override_dh_auto_configure:
	test -d build || mkdir build
	cd build && ln -sf ../debian && cmake -DCMAKE_INSTALL_PREFIX=`kde4-config --prefix` -DCMAKE_BUILD_TYPE=Release ..

override_dh_auto_build:
	test -d build || exit 1
	cd build; $(MAKE)

	cd ksplash/bespin; ./generate.sh 1024 768; ./generate.sh 1280 1024; ./generate.sh 1366 768; \
	./generate.sh 1440 900; ./generate.sh 1600 1200; ./generate.sh 1920 1080;

	cd ksplash/aperture; ./generate.sh 1024 768; ./generate.sh 1280 1024; ./generate.sh 1366 768; \
	./generate.sh 1440 900; ./generate.sh 1600 1200; ./generate.sh 1920 1080;

	cd ksplash/tibanna; ./generate.sh 1024 768; ./generate.sh 1280 1024; ./generate.sh 1366 768; \
	./generate.sh 1440 900; ./generate.sh 1600 1200; ./generate.sh 1920 1080;

override_dh_auto_install:
	test -d build || exit 1
	cd build; $(MAKE) DESTDIR=$(install_dir) install
	install -D -m 0644 debian/bespin.lintian $(install_dir)/usr/share/lintian/overrides/bespin
